.clap-icon {
  transition: transform 0.2s ease;
}

.clap-icon-active {
  animation: pulse 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
